<md-dialog md-colors="{background: 'default-grey-200'}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Detailed Summary</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.closeDialog()">
        <md-icon md-font-set="material-icons"> clear </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="position:relative;width:800px;max-height:810px;">

    <md-tabs md-border-bottom md-center-tabs md-dynamic-height   class="md-primary md-hue-2">
      <md-tab label="Variant">
        <md-content class="md-padding"  md-colors="{background: 'default-grey-200'}">
          <div layout="row">
            <div flex-gt-sm="50">
              <md-list flex>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">Position</h3>
                    <p>{{$ctrl.selected.variant.CHROM}}:{{$ctrl.selected.variant.START}}-{{$ctrl.selected.variant.END}}</p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">Allele variation</h3>
                    <p>
                      {{$ctrl.selected.variant.REF}}
                      <md-icon md-font-set="material-icons"> trending_flat </md-icon>
                      <ng-repeat ng-repeat="alt in $ctrl.selected.variant.ALT">{{alt}}{{$last ? '' : ', '}}</ng-repeat>
                    </p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">Depth</h3>
                    <p>{{$ctrl.selected.annotations.DP[0]}}</p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">Gene</h3>
                    <p>
                      <ng-repeat ng-repeat="gene in $ctrl.selected.annotations['Gene.refGene']">{{gene}}{{$last ? '' : ', '}}</ng-repeat>
                    </p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">Location</h3>
                    <p>{{ $ctrl.selected.annotations['Func.refGene'][0]}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>

            <div flex=50 layout="column">
              <md-list flex>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">dbSNP</h3>
                    <p>{{$ctrl.selected.annotations['snp138NonFlagged'][0] != "None" ? $ctrl.selected.annotations['snp138NonFlagged'][0]
                      : '-' }}</p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">Quality</h3>
                    <p>{{$ctrl.selected.variant.QUAL}}</p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">CQ Ratio</h3>
                    <p>{{$ctrl.selected.annotations.QD[0]}}</p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">FS</h3>
                    <p>{{$ctrl.selected.annotations.FS[0]}}</p>
                  </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">MQ0</h3>
                    <p>{{ $ctrl.selected.annotations.MQ0[0]}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Annotations">
        <md-content class="md-padding"  md-colors="{background: 'default-grey-200'}">
          <div layout="row">
            <div flex-gt-sm="50">
              <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="(name, value) in $ctrl.selected.annotations track by $index" ng-if="$even">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">{{name}}</h3>
                    <p>{{value}}</p>
                  </div>
                </md-list-item>

              </md-list>
            </div>

            <div flex=50 layout="column">
              <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="(name, value) in $ctrl.selected.annotations track by $index" ng-if="$odd">
                  <div class="md-list-item-text">
                    <h3 md-colors="{color: 'default-primary-hue-2-0.87'}">{{name}}</h3>
                    <p>{{value}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Genotypes">
        <md-content class="md-padding"  md-colors="{background: 'default-grey-200'}">
         <md-table-container>
            <table md-table md-progress="$ctrl.promise">
              <thead md-head>
                    <tr md-row >
                        <th md-column><span md-colors="{color: 'default-primary-hue-2-0.87'}">Sample</span></th>
                        <th md-column><span md-colors="{color: 'default-primary-hue-2-0.87'}">Phased</span></th>
                        <th md-column><span md-colors="{color: 'default-primary-hue-2-0.87'}">State</span></th>
                        <th md-column ng-repeat="name in $ctrl.genotype_headers"><span md-colors="{color: 'default-primary-hue-2-0.87'}">{{name}}</span></th> 
                    </tr>
                </thead> 
                <tbody md-body>
                  <tr md-row ng-repeat="sample in $ctrl.displayed_samples track by $index" ng-switch on="sample.state">
                    <td md-cell><p>{{sample.sample}}</p></td>
                    <td md-cell><p>{{sample.phased}}</p></td>
                    <td md-cell ng-switch-when='0'><p>hom_ref</p></td>
                    <td md-cell ng-switch-when='1'><p>het</p></td>
                    <td md-cell ng-switch-when='2'><p>hom_alt</p></td>
                    <td md-cell ng-switch-when='None'><p>uncalled</p></td>
                    <td md-cell ng-repeat="idx in $ctrl.genotype_headers"><p>{{sample[idx]}}</p></td>
                  </tr>
                </tbody>
            </table>

            <md-table-pagination md-boundary-links md-limit="5"  md-page="$ctrl.genotypes_page" md-total="{{$ctrl.selected.genotypes.length}}" md-on-paginate="$ctrl.getSamples" md-page-select></md-table-pagination>
        </md-table-container>
        </md-content>
      </md-tab>
    </md-tabs>

  </md-dialog-content>
</md-dialog>