<md-card flex>
	<!--<img src="card-image.png" class="md-card-image" alt="image caption">-->
	<md-card-content layout="row" flex>
		<div class="navBardemoBasicUsage" flex>
			<md-content class="md-padding" flex>
				<div class="wrapper" layout="column" layout-fill ng-app="sandbox">

					<form name="jsonForm">
						<div layout="column">
							<div ng-repeat="column in $ctrl.commandColumns.columns track by $index" ng-init="parentIndex = $index" layout="row" class="instblock">
								<div layout="row">
									<md-button class="md-fab md-mini md-primary" ng-click="$ctrl.deleteColumnRow(parentIndex)">-</md-button>
									<md-input-container class="md-block">
										<label>Enter command</label>
										<input name="columnLabel{{$index}}" minlength="3" maxlength="50" ng-model="column.label">
									</md-input-container>
								</div>
								<div layout="column" class="subtab">
									<div ng-repeat="detColumn in column.detColumns track by $index" layout="row">
										<md-button class="md-fab md-mini md-primary" ng-click="$ctrl.deleteColumnDetailsRow($parent.$index,$index)">-</md-button>
										<md-input-container class="md-block">
											<label>Key</label>
											<input name="keyLabel{{$index}}" minlength="3" maxlength="50" ng-model="detColumn[0].label">
										</md-input-container>
										<md-input-container class="md-block">
											<label>Value</label>
											<input name="valueColumnLabel{{$index}}" minlength="3" maxlength="50" ng-model="detColumn[1].label">
										</md-input-container>
										<md-input-container class="md-block">
											<label>Regex</label>
											<input name="regexLabel{{$index}}" minlength="3" maxlength="50" ng-model="detColumn[2].label">
										</md-input-container>
										<md-input-container class="md-block">
											<label>Type</label>
											<input name="typeLabel{{$index}}" minlength="3" maxlength="50" ng-model="detColumn[3].label">
										</md-input-container>
									</div>
									<div>
										<md-button class="md-fab md-mini md-primary" ng-click="$ctrl.addColumnDetailsRow(parentIndex)">+</md-button>
									</div>
								</div>
							</div>
							<div>
								<md-button class="md-fab md-mini md-primary" ng-click="$ctrl.addColumnRow()">+</md-button>
							</div>
						</div>
					</form>
				</div>
			</md-content>

		</div>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button aria-label="button-label" ng-click="$ctrl.callQuery()">Search</md-card-actions>
	</md-card-actions>
</md-card>